/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
 background-color: rgb(241, 209, 239);
}
#next-button{
  display: none;
}
.text-center {

}

.btn {
  
}

.btn:hover {
  cursor:pointer;

}
.btn[disabled]:hover {
  cursor: not-allowed;
}
.hidden {
  display:none;
}
@media (max-width: 768px) {
  
}